<section class="center">
    <table class="table">
      <tr>
        <td>Id</td>
        <td>Nome Cliente</td>
        <td>Razão Social</td>
       </tr>
       <tr *ngFor="let item of dataSource">
        <td>{{item.id}}</td>
        <td>{{item.id}}</td>
        <td>{{item.id}}</td>
       </tr>
    </table>
    
      <div class="btn-center">
              <div class="lbl-voltar">Voltar</div>
              <button 
                    (click)="reply()" 
                     color="primary" 
                    aria-label="Example icon button with a menu icon">
              </button>
      </div>
    </section>